# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variable files
.env                   # arquivo principal de variáveis
.env.local             # overrides locais
.env.development.local # overrides no dev
.env.test.local        # overrides no teste
.env.production.local  # overrides na produção
.env.*                 # qualquer outro .env.<qualquer-coisa>
!.env.example          # mas mantenha este modelo commitado